<head>
	<link rel="stylesheet" type="text/css" href="../css/news-template.css">
</head>
<body>
	<div ng-controller="NewsTemplateController" ng-init="init(newsContent)">
		<div>
			<hr />
			<h3>{{newsContent.title}}</h3>
			<hr />
			<p>Created by <em>{{newsContent.author}}</em> at <em>{{newsContent.time}}</em></p>
		</div>
		<div class="depict">
			<a href="#modalwin" data-toggle="modal" data-keyboard="true">
				<img class="imgSmall" ng-src="{{newsContent.image}}" align="left" ng-if="photoPresent" />
			</a>
		    <div id="modalwin" class="modal hide fade" role="dialog" aria-hidden="true" tabindex='-1'>
		      <div class="modal-body">
		      	<a href="#" class="close" data-dismiss="modal">×</a>
		        <img ng-src="{{newsContent.image}}" class="imgBig" />
		      </div>
		    </div>
			
			<video ng-src="{{newsContent.video}}" controls align="right" ng-if="videoPresent">
				<object data="{{newsContent.video}}" type="application/x-shockwave-flash" align="right">
			      	<param value="{{newsContent.video}}" name="movie"/>
			    </object>
			</video>

			<p ng-if="wrapText" ng-bind-html="shortenedBody(newsContent.body)"></p>
			<a href="" class="morelink" ng-if="wrapText" ng-click="wrapClick()" > More </a>
			<p ng-if="!wrapText" ng-bind-html="newsContent.body"></p>
			<a href="" class="morelink" ng-if="!wrapText && needTextWrapping(newsContent.body)" ng-click="wrapClick()" > Less </a>
		</div>
		<div style="clear: both;"></div>
	</div>
	<script type="text/javascript" src="js/third-party/ui-bootstrap-tpls-0.12.0.min.js"></script>
</body>